---
 const personalImageAlt = "Gonzalo Gómez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Passionate about digital products.
    </p>

    <p>
      Currently focused on building user interfaces that prioritize user experience, performance, and clean, maintainable code, using core frontend technologies like HTML, CSS (Tailwind CSS & Bootstrap), JavaScript, and React. 💻
    </p>

    <p>
      With an artistic and creative background, I bring a strong eye for detail and the ability to design intuitive, visually consistent interfaces that enhance usability. 🎨
    </p>

    <p>
      Btw, I’m also a big coffee enthusiast. ☕
    </p>
  </div>

  <img width="200" height="200" src="/gonzalo-1.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>