---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "January 2025 - Currently",
    title: "Barista & Food Service Assistant",
    company: "Fresh, The Good Food Market (Dublin, Ireland)",
    description:[
      "Adapted quickly to different roles (deli, bakery, barista), showing flexibility, proactivity and fast learning.",
      "Delivered excellent customer service, strengthening communication and problem-solving.",
      "Managed tasks under pressure and collaborated effectively within a diverse team."
    ],
  },
  {
    date: "February 2023 - September 2024",
    title: "Frontend Developer & UI Designer",
    company: "CSnet (Castellón, Spain)",
    description:
      [
        "Designed and implemented +20 responsive layouts, ensuring consistency, accessibility, and visual appeal across devices.",
        "Translated UI/UX designs into clean, maintainable code using HTML, CSS, and JavaScript.",
        "Collaborated on backend development tasks using Laravel, including basic logic handling and database management (MySQL).",
        "Used Git and GitHub for version control and collaborative development across multiple projects.",
        "Worked closely with clients and the internal team to deliver tailored digital solutions aligned with business goals",
    ],
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
