---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "January 2025 - Currently",
    title: "Customer Support & Digital Content Specialist",
    company: "Awordz",
    description:[
      "Provided customer support through telephone, chat and email, ensuring high customer satisfaction and problem resolution.",
      "Handled complex customer inquiries and provided timely resolutions.",
      "Coordinated and reviewed multilingual digital content, ensuring quality, consistency, and alignment with client expectations.",
      "Collaborated with international teams and clients to manage revisions, feedback, and delivery timelines."
    ],
    // link: "https://twitch.tv/midudev",
  },
  {
    date: "February 2023 - September 2024",
    title: "Frontend Developer & UI Designer",
    company: "CSnet",
    description:
      [
      "Collaborated with cross-functional teams to align web content with client guidelines and standards.",
      "Worked closely with clients to understand requirements, provide updates, and ensure project satisfaction.",
      "Designed and implemented +20 web layouts, ensuring both functionality and visual appeal.",
      "Demonstrated strong attention to detail and analytical skills through quality checks and continuous improvements."
    ],
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
